.button {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-blue);
  background: #fff;
  padding: 5px 10px;
  border: 2px solid var(--main-blue);
  border-radius: 10px;
  cursor: pointer;
}
.button:focus {
  outline: none;
}
